@media screen and (max-width: 540px) {
    .logo {
        width: 30%;
        height: 50%;
    }
}

/* For Tablets */
@media screen and (min-width: 541px)  {
    .logo {
        width: 10%;
        height: 50%;
    }
}

.banner {
    background: rgb(151,210,224);
    background: linear-gradient(90deg, rgba(151,210,224,1) 16%, rgba(124,126,126,1) 81%);
     padding: 2% 2% 2% 2%; 
     color: #e6e6e6;
}

#submit  {
    background: rgb(151,210,224);
        background: linear-gradient(90deg, rgba(151,210,224,1) 16%, rgba(124,126,126,1) 81%);
}
.summary {
    background: rgb(151,210,224);
    background: linear-gradient(90deg, rgba(151,210,224,1) 16%, rgba(124,126,126,1) 81%);
    text-align: center;
    color: white;
}