@media screen and (max-width: 540px) {
    .logo {
        width: 30%;
        height: 50%;
    }
}

/* For Tablets */
@media screen and (min-width: 541px)  {
    .logo {
        width: 10%;
        height: 50%;
    }
}

.banner {
    background: rgb(151,210,224);
    background: linear-gradient(90deg, rgba(151,210,224,1) 16%, rgba(124,126,126,1) 81%);
     padding: 2% 2% 2% 2%; 
     color: #e6e6e6;
}

#submit  {
    
    background: rgb(151,210,224);
        background: linear-gradient(90deg, rgba(151,210,224,1) 16%, rgba(124,126,126,1) 81%);
        color: white;
}
.summary {
    padding: 0.08%;
    background: rgb(151,210,224);
    background: linear-gradient(90deg, rgba(151,210,224,1) 16%, rgba(124,126,126,1) 81%);
    text-align: center;
    color:white;
    
}

#navbarSupportedContent {
    margin-left: 2%;
    color: black;
}
.nav-link:hover{
    background-color: rgb(52, 143, 165);
    font-style: italic;
    font-size: larger;
    color: black;
    
}
.nav-link{
    font-size: larger;
}
#inwords{
    text-align: center;
    background-color: #6c757d;
    color: white;
}

#futurePredictions {
    font-size: small;
    color: #6c757d;
}